{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-card">
        <h1>
            Welcome Back
        </h1>
        <p>
            Login to access
            collections and wishlist
        </p>
        <input id="email" placeholder="Email">

        <input id="password" type="password" placeholder="Password">
        <button id="login-btn">
            Login
        </button>
        <p>
            No account?
            <a href="/register">
                Sign Up
            </a>
        </p>
    </div>

</div>

<script
src="{{ url_for('static', filename='auth.js') }}">
</script>

{% endblock %}